.content {
    padding: 20px;
}

.desc {
    color: #31689f;
    font-size: 0.95rem;
}

.terminology {
    font-size: 0.95rem;
}

.card {
    margin: 20px auto;
    max-width: 700px;
}

.title {
    text-align: center;
}

.del-kof-yes {
    color: darkgreen;
}

.del-kof-no {
    color: #c91515;
}

.card-footer {
    p {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.card-header {
    font-weight: bold;
}

.cof-dell {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0 5px;
    border-radius: 7px;
    text-align: center;
}

.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    small{
        color: gray;
    }
}

.table-row {
    white-space: nowrap
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-10 {
    margin-top: 10px;
}
