.container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.content {
    margin: 0 auto;
    /*padding: 10px;*/
    max-width: 800px;
}

.desc {
    color: #31689f;
    font-size: 0.95rem;
}

.terminology {
    font-size: 0.95rem;
}

.card {
    max-width: 700px;
}

.title {
    text-align: center;
}

.del-kof-yes {
    color: darkgreen;
}

.del-kof-no {
    color: #c91515;
}

.card-footer {
    p {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.card-header {
    font-weight: bold;
}

.card-custom {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
}

.input-group {
    display: flex;
}

.select-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-group-inline {
    display: flex;
    flex-direction: row;
}

.select-group-item {
    width: 100%;
}

.cof-dell {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0 5px;
    text-align: center;
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    small {
        color: #0a0a0a;
        font-weight: normal;
    }
}

.table-row {
    white-space: nowrap
}

.table-sticky-thead {
    position: sticky;
    top: 0
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-0-a {
    margin: 0 auto;
}

.p-20-0 {
    padding: 20px 0;
}

.p-0-10 {
    padding: 0 10px;
}

.p-0-15 {
    padding: 0 15px;
}

.ta-c {
    text-align: center;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.none-d {
    display: none;
}

.alert-box {
    background: #f6e9b6;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ffdb90;
    border-radius: 5px;
    color: #410303;
}

.result {
    border: 1px solid #97a3c5;
    border-radius: 5px;
    margin: 5px 5px 5px 0;
    padding: 7px;
}

.result2 {
    background: #f3f8ff;
}

hr.separator {
    border: none; /* Убираем стандартное оформление */
    /*background-color: navy;*/
    border-top: 1px dashed black;
}

.form-check-input {
    margin-left: 0px;
}
