.content {
    padding: 20px;
}

.desc {
    color: #31689f;
    font-size: 0.95rem;
}

.terminology{
    font-size: 0.95rem;
}

.card {
    margin: 20px auto;
    max-width: 600px;
}

.title {
    text-align: center;
}

.del-kof-yes {
    color: darkgreen;
}

.del-kof-no {
    color: #c91515;
}

.card-footer {
    p {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

.card-header {
    font-weight: bold;
}

.cof-dell{
    /*background: rgba(243, 225, 134, 0.67);*/
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0 5px;
    border-radius: 7px;
    text-align: center;
}
.m-b-10{
    margin-bottom: 10px;
}

.m-b-5{
    margin-bottom: 10px;
}
